@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
*{
    margin: 5px;
    padding: auto;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    /* background-color: rgb(191, 213, 242); */
}
